@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TaskMaster - Your Agile Project Management Solution</h1>
    <p>At TaskMaster, we're dedicated to helping you streamline your project management,
        task tracking, and team collaboration efforts. Whether you're a project manager,
        team leader, or a member looking to stay on top of your tasks,
        TaskMaster has you covered.</p>
</div>
